<h1><b><center><u><%= @other.device_name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @other.model %></h3>
<h3><b>SERIAL NO :</b><%= @other.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @other.asset_tag %></h3>
<h3><b>ASSET TAG :</b><%= @other.category %></h3>
<h3><b>USED BY :</b><%= @other.used_by %></h3>
<h3><b>CREATED AT :</b><%= @other.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @other.updated_at %></h3>

</center></ul>