<h1><center>This is Asset Deatils Show Page!</center></h1>

<h1><b><center><u><%= @laptopdetail.name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @laptopdetail.model %></h3>
<h3><b>SERIAL NO :</b><%= @laptopdetail.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @laptopdetail.asset_tag %></h3>
<h3><b>MONITOR NAME :</b><%= @laptopdetail.monitor_name %></h3>
<h3><b>MONITOR MODEL :</b><%= @laptopdetail.monitor_model %></h3>
<h3><b>MONITOR TAG :</b><%= @laptopdetail.monitor_tag %></h3>
<h3><b>MOUSE :</b><%= @laptopdetail.mouse %></h3>
<h3><b>MOUSE TAG :</b><%= @laptopdetail.mouse_tag %></h3>
<h3><b>KEYBOARD :</b><%= @laptopdetail.keyboard %></h3>
<h3><b>KEYBOARD :</b><%= @laptopdetail.keyboard_tag %></h3>
<h3><b>INSTALLED OS :</b><%= @laptopdetail.installed_os %></h3>
<h3><b>DATE OF PURCHASE :</b><%= @laptopdetail.date_of_purchase %></h3>
<h3><b>WARRANTY :</b><%= @laptopdetail.warranty %></h3>
<h3><b>MONITOR SIZE :</b><%= @laptopdetail.monitor_size %></h3>
<h3><b>CREATED AT :</b><%= @laptopdetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @laptopdetail.updated_at %></h3>

</center></ul>