<%= render 'shared/errors', obj: @mobiledevice %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
<%= form_for @mobiledevice do |f| %>
   <%= f.label :device_name %>
   <div class="wel">
  <%= f.select :device_name, ['HTC', 'SAMSUNG', 'NOKIA', 'iPhone 4', 'Sony Ericsson', 'iphone4s', 'iPhone 5', 'Black Berry', 'Samsung S4', 'I Phone 5S', 'Samsung Galaxy Young', 'LG Nexus 5', 'Nokia 2330 Black', 'LG Gx300', 'NOKIA 202', 'Nokia - X 101', 'Samsung I 9082', 'Samsung - Galaxy Core', ] %>
  </div>
   
   <%= f.label :model %> 
   <%= f.text_field :model%>
   
   <%= f.label :serial_no %>
   <%= f.text_field :serial_no %>
   
   <%= f.label :asset_tag %>
   <%= f.text_field :asset_tag %>
    
    <%= f.label :warranty %>
    <%= f.number_field :warranty %>
    
    <%= f.label :os %>
    <%= f.text_field :os %>
    
    <%= f.label :used_by %>
    <%= f.text_field :used_by %>
    
     <%= f.label :date_of_purchase %>
    <%= f.date_select :date_of_purchase, :order => [:day, :month, :year], :start_year => 1940 %> 
    <br></br>
    
    <%= f.submit(@mobiledevice.new_record? ? "Create Mobile Device" : "Edit Mobile Device", class: "btn btn-success") %>
    <% end %>
    </div>
</div>
    
