
<%= form_tag lists_path, :method => :get do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "search", :name => nil %>
    </p>
<% end %>


<%= link_to "NEW Mobile", new_mobiledevice_path, class: "btn btn-success" %> <br></br>

<table id="t01">
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>Serial No</th>
    <th>Asset Tag</th>
    <th>Date Of Purchase</th>
    <th>Warranty</th>
    <th>OS</th>
    <th>Used By</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  <% @mobiledevices.each do |list| %>
    <tr>
     <td><%= link_to list.device_name, mobiledevice_path(list) %></td>
       <td><%= list.model %></td>
       <td><%= list.serial_no %></td>
       <td><%= list.asset_tag %></td>
       <td><%= list.date_of_purchase %></td>
       <td><%= list.warranty %></td>
       <td><%= list.os %></td>
       <td><%= list.used_by %></td>
       <td><%= link_to "Edit", edit_mobiledevice_path(list) %></td>
       <td><%= button_to "Delete", {:controller => "mobiledevices", :action => 'destroy', :id => list.id}, :confirm => "Are you sure you want to delete", :method => :delete %></td>
    </tr>
  <% end %>
</table>
