<h1><b><center><u><%= @mobiledevice.device_name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @mobiledevice.model %></h3>
<h3><b>SERIAL NO :</b><%= @mobiledevice.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @mobiledevice.asset_tag %></h3>
<h3><b>DATE OF PURCHASE :</b><%= @mobiledevice.date_of_purchase %></h3>
<h3><b>WARRANTY :</b><%= @mobiledevice.warranty %></h3>
<h3><b>INSTALLED OS :</b><%= @mobiledevice.os %></h3>
<h3><b>USED BY :</b><%= @mobiledevice.used_by %></h3>
<h3><b>CREATED AT :</b><%= @mobiledevice.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @mobiledevice.updated_at %></h3>

</center></ul>