<%= render 'shared/errors', obj: @assetdetail %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%= form_for @assetdetail do |f| %>
        <div class="col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name %>
         
          <%= f.label :model %> 
          <div class="wel">
          <%= f.select :model, ['DELL', 'HP', 'SAMSUNG', 'LENOVO', 'ACER'] %>
          </div>
          
          <%= f.label :serial_no %>
          <%= f.text_field :serial_no %>
          
          <%= f.label :asset_tag %>
          <%= f.text_field :asset_tag %>
          
          <%= f.label :warranty %>
          <%= f.number_field :warranty %>
          
          <%= f.label :monitor_model %>
          <div class="wel">
          <%= f.select :monitor_model, ['DELL', 'view sonic', 'SAMSUNG', 'LENOVO', 'BENQ'] %>
          </div>
          
          <%= f.label :monitor_tag %>
          <%= f.text_field :monitor_tag %>
          
          <%= f.label :monitor_size %>
          <%= f.number_field :monitor_size %>
          </div> 
          <div class="vertical-line"> </div>
          <div class="col-md-6">
  
          <%= f.label :mouse %>
          <div class="wel">
          <%= f.select :mouse, ['DELL', 'Logitech', 'LENOVO'] %>
          </div>
          
          <%= f.label :mouse_tag %>
          <%= f.text_field :mouse_tag %>
        
          <%= f.label :keyboard %>
         <div class="wel">
          <%= f.select :keyboard, ['DELL', 'Logitech', 'HP', 'LENOVO', 'APPLE WIRELESS'] %>
          </div>
          
          <%= f.label :keyboard_tag %>
          <%= f.text_field :keyboard_tag %>
          
          <%= f.label :installed_os %>
          <div class="wel">
          <%= f.select :installed_os, ['WINDOWS 7', 'WINDOWS 8', 'WINDOWS 8.1', 'WINDOWS 10', 'UBUNTU'] %>
          </div>
         
          <%= f.label :date_of_purchase %> </br>
          <%= f.date_select :date_of_purchase, :order => [:day, :month, :year], :start_year => 1940 %>
           </div>
          <%= f.submit(@assetdetail.new_record? ? "Create Asset" : "Edit Asset", class: "btn btn-success") %>
        <% end %>
       
    </div>
</div>