<h1><center>This is Asset Deatils Show Page!</center></h1>

<h1><b><center><u><%= @assetdetail.name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @assetdetail.model %></h3>
<h3><b>SERIAL NO :</b><%= @assetdetail.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @assetdetail.asset_tag %></h3>
<h3><b>MONITOR MODEL :</b><%= @assetdetail.monitor_model %></h3>
<h3><b>MONITOR TAG :</b><%= @assetdetail.monitor_tag %></h3>
<h3><b>MOUSE :</b><%= @assetdetail.mouse %></h3>
<h3><b>MOUSE TAG :</b><%= @assetdetail.mouse_tag %></h3>
<h3><b>KEYBOARD :</b><%= @assetdetail.keyboard %></h3>
<h3><b>KEYBOARD :</b><%= @assetdetail.keyboard_tag %></h3>
<h3><b>INSTALLED OS :</b><%= @assetdetail.installed_os %></h3>
<h3><b>DATE OF PURCHASE :</b><%= @assetdetail.date_of_purchase %></h3>
<h3><b>WARRANTY :</b><%= @assetdetail.warranty %></h3>
<h3><b>MONITOR SIZE :</b><%= @assetdetail.monitor_size %></h3>
<h3><b>CREATED AT :</b><%= @assetdetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @assetdetail.updated_at %></h3>

</center></ul>