<h1><center>This is Monitor Deatils Show Page!</center></h1>

<h1><b><center><u><%= @mondetail.monitor %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MONITOR TAG :</b><%= @mondetail.monitor_tag %></h3>
<h3><b>MONITOR SIZE :</b><%= @mondetail.monitor_size %></h3>
<h3><b>MOUSE :</b><%= @mondetail.mouse %></h3>
<h3><b>MOUSE TAG :</b><%= @mondetail.mouse_tag %></h3>
<h3><b>KEYBOARD :</b><%= @mondetail.keyboard %></h3>
<h3><b>KEYBOARD TAG:</b><%= @mondetail.keyboard_tag %></h3>
<h3><b>INSTALLED OS :</b><%= @mondetail.installed_os %></h3>
<h3><b>CREATED AT :</b><%= @mondetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @mondetail.updated_at %></h3>

</center></ul>