<h1><center>This is Server Details Show Page!</center></h1>

<h1><b><center><u><%= @serverdetail.name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @serverdetail.model %></h3>
<h3><b>SERIAL NO :</b><%= @serverdetail.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @serverdetail.asset_tag %></h3>
<h3><b>MONITOR MODEL :</b><%= @serverdetail.monitor_model %></h3>
<h3><b>MONITOR TAG :</b><%= @serverdetail.monitor_tag %></h3>
<h3><b>MONITOR SIZE :</b><%= @serverdetail.monitor_size %></h3>
<h3><b>MOUSE :</b><%= @serverdetail.mouse %></h3>
<h3><b>MOUSE TAG :</b><%= @serverdetail.mouse_tag %></h3>
<h3><b>KEYBOARD :</b><%= @serverdetail.keyboard %></h3>
<h3><b>KEYBOARD :</b><%= @serverdetail.keyboard_tag %></h3>
<h3><b>INSTALLED OS :</b><%= @serverdetail.installed_os %></h3>
<h3><b>DATE OF PURCHASE :</b><%= @serverdetail.date_of_purchase %></h3>
<h3><b>WARRANTY :</b><%= @serverdetail.warranty %></h3>
<h3><b>CREATED AT :</b><%= @serverdetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @serverdetail.updated_at %></h3>

</center></ul>