<h1><b><center><u><%= @printerdetail.device_name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @printerdetail.model %></h3>
<h3><b>SERIAL NO :</b><%= @printerdetail.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @printerdetail.asset_tag %></h3>
<h3><b>USED BY :</b><%= @printerdetail.used_by %></h3>
<h3><b>CREATED AT :</b><%= @printerdetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @printerdetail.updated_at %></h3>

</center></ul>