<h1><b><center><u><%= @networkdetail.device_name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @networkdetail.model %></h3>
<h3><b>SERIAL NO :</b><%= @networkdetail.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @networkdetail.asset_tag %></h3>
<h3><b>USED FOR :</b><%= @networkdetail.used_for %></h3>
<h3><b>PORT NO :</b><%= @networkdetail.port_no %></h3>
<h3><b>CREATED AT :</b><%= @networkdetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @networkdetail.updated_at %></h3>

</center></ul>