<%= render 'shared/errors', obj: @scannerdetail %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
<%= form_for @scannerdetail do |f| %>
   <%= f.label :device_name %>
   <%= f.text_field :device_name %>
   
   <%= f.label :model %> 
   <div class="wel">
    <%= f.select :model, ['DELL', 'HP', 'SAMSUNG'] %>
    </div>
   
   <%= f.label :serial_no %>
   <%= f.text_field :serial_no %>
   
   <%= f.label :asset_tag %>
   <%= f.text_field :asset_tag %>
    
    <%= f.label :used_by %>
    <%= f.text_field :used_by %>
    
    <br></br>
    
    <%= f.submit(@scannerdetail.new_record? ? "Create Scanner Device" : "Edit Scanner Device", class: "btn btn-success") %>
    <% end %>
    </div>
</div>
    
