<h1><b><center><u><%= @scannerdetail.device_name %> DETAILS</u></center></b></h1>
<ul><center>
<h3><b>MODEL: </b><%= @scannerdetail.model %></h3>
<h3><b>SERIAL NO :</b><%= @scannerdetail.serial_no %></h3>
<h3><b>ASSET TAG :</b><%= @scannerdetail.asset_tag %></h3>
<h3><b>USED BY :</b><%= @scannerdetail.used_by %></h3>
<h3><b>CREATED AT :</b><%= @scannerdetail.created_at %></h3>
<h3><b>UPDATED AT :</b><%= @scannerdetail.updated_at %></h3>

</center></ul>